body {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.gallery{
    max-width: 1128px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.gallery-image {
    width: 320px;
    height: 200px;
}

.modal {
background-color: black;
}
a:hover {
    cursor: url(./images/bxs_hand-down.png), pointer;
}